# RCT scenario

In [4]:

from causalis.data_contracts import generate_rct

In [6]:
df = generate_rct(return_causal_data = True)

In [7]:
df

CausalData(df=(20000, 11), treatment='d', outcome='y', confounders=['x1', 'x2', 'age', 'cnt_trans', 'platform_Android', 'platform_iOS', 'invited_friend', 'y_pre'], user_id='user_id')

In [8]:
df = generate_rct(add_ancillary = False)

In [9]:
df.head()

,y,d,x1,x2,y_pre,m,m_obs,tau_link,g0,g1,cate
0,0.0,1.0,0.304717,-1.039984,0.839632,0.5,0.5,0.204794,0.204632,0.239978,0.035346
1,0.0,0.0,0.750451,0.940565,-0.520782,0.5,0.5,0.204794,0.061919,0.074937,0.013018
2,0.0,1.0,-1.951035,-1.302180,0.546401,0.5,0.5,0.204794,0.160998,0.190614,0.029616
3,0.0,1.0,0.127840,-0.316243,0.269294,0.5,0.5,0.204794,0.126980,0.151468,0.024488
4,0.0,1.0,-0.016801,-0.853044,0.632883,0.5,0.5,0.204794,0.173024,0.204314,0.031289

In [ ]:
df.columns

In [5]:
causaldata = generate_rct(return_causal_data = True)

In [7]:
from causalis.statistics.models import DiffInMeans
model = DiffInMeans().fit(causaldata)

In [8]:
result = model.estimate(estimand = 'ATE')

In [9]:
print(result.summary())

  estimand  coefficient         p_val  lower_ci  upper_ci  relative_diff_%  \
0      ATE      0.02404  6.560385e-07   0.01457   0.03351        19.547229

   is_significant
0            True