In [ ]:
#install the library
!pip install causalis

In [2]:
from causalis.scenarios.unconfoundedness.dgp import generate_obs_hte_26

# generating synthetic observational data with a linear effect
df = generate_obs_hte_26(return_causal_data = False)

In [3]:
print(f"Ground truth ATE is {df['cate'].mean()}")

Ground truth ATE is 0.9509353818962034

In [4]:
from causalis.data_contracts import CausalData

# create a CausalData object
causaldata = CausalData(
    df=df,
    treatment="d",
    outcome="y",
    confounders=["tenure_months",
                 "avg_sessions_week",
                 "spend_last_month",
                 "premium_user",
                 "premium_user",
                 "urban_resident"]
)

# Let's take a look at the data
causaldata.df.head()

,y,d,tenure_months,avg_sessions_week,spend_last_month,premium_user,urban_resident
0,-1.983895,1.0,28.814654,1.0,84.100761,1.0,0.0
1,7.527126,0.0,7.444181,0.0,30.890847,0.0,1.0
2,6.696842,1.0,23.759279,2.0,93.693180,0.0,0.0
3,10.337161,0.0,24.969929,9.0,127.974978,0.0,1.0
4,6.071955,0.0,29.943261,2.0,96.998539,0.0,1.0

In [5]:
from causalis.scenarios.unconfoundedness import IRM

model = IRM().fit(causaldata)

# Estimate Average Treatment Effect with Double Machine Learning (ATE)
result = model.estimate(score='ATE')
result.summary()

                                             value
field
estimand                                       ATE
model                                          IRM
value              0.9788 (ci_abs: 0.8074, 1.1503)
value_relative  40.3375 (ci_rel: 33.2610, 47.4139)
alpha                                       0.0500
p_value                                     0.0000
is_significant                                True
n_treated                                     3454
n_control                                     6546
treatment_mean                              3.6747
control_mean                                2.3230
time                                    2026-02-08