In [ ]:
#install the library
!pip install causalis

In [1]:
from causalis.dgp import obs_linear_26_dataset

# generating synthetic observational data_contracts with a linear effect
df = obs_linear_26_dataset(return_causal_data = False)

In [2]:
from causalis.data_contracts import CausalData

# create a CausalData object
causaldata = CausalData(
    df=df,
    treatment="d",
    outcome="y",
    confounders=["tenure_months",
                 "avg_sessions_week",
                 "spend_last_month",
                 "premium_user",
                 "premium_user",
                 "urban_resident"]
)

# Let's take a look at the data_contracts
causaldata.df.head()

,y,d,tenure_months,avg_sessions_week,spend_last_month,premium_user,urban_resident
0,7.941466,0.0,27.656605,3.198667,84.100761,0.0,1.0
1,7.407125,0.0,8.373846,4.462596,38.137482,0.0,1.0
2,13.091407,1.0,34.552776,7.011571,95.237175,0.0,0.0
3,7.691523,0.0,13.688490,5.187956,26.319990,0.0,1.0
4,2.978494,0.0,21.781652,3.589952,127.337811,0.0,1.0

In [3]:
from causalis.scenarios.unconfoundedness import IRM

model = IRM().fit(causaldata)

# Estimate Average Treatment Effect with Double Machine Learning (ATE)
result = model.estimate(score='ATE')
result.summary()

,estimand,coefficient,p_val,lower_ci,upper_ci,relative_diff_%,is_significant
0,ATE,1.72953,0.0,1.491141,1.967918,28.689741,True