{
 "cells": [
  {
   "cell_type": "markdown",
   "id": "35b4318ae82ad36f",
   "metadata": {},
   "source": [
    "# Notebook to test CausalData functionality"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 1,
   "id": "initial_id",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-07-26T15:55:33.459589Z",
     "start_time": "2025-07-26T15:55:32.624597Z"
    },
    "collapsed": true
   },
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "/Users/ioannmartynov/miniconda3/envs/causalkit/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html\n",
      "  from .autonotebook import tqdm as notebook_tqdm\n"
     ]
    }
   ],
   "source": [
    "from causalis.data import generate_rct_data, CausalData\n",
    "from causalis.data import CausalData"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 2,
   "id": "970ecbd9c6095043",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-07-26T16:00:39.234417Z",
     "start_time": "2025-07-26T16:00:39.174646Z"
    }
   },
   "outputs": [],
   "source": [
    "df = generate_rct_data()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 3,
   "id": "7d24ef042c73da7b",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-07-26T16:00:39.346375Z",
     "start_time": "2025-07-26T16:00:39.342700Z"
    }
   },
   "outputs": [],
   "source": [
    "causal_data = CausalData(df=df,\n",
    "                         outcome='outcome', confounders=['age', 'platform_Android'],\n",
    "                         treatment='treatment')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 4,
   "id": "7d5ee4dc062d668e",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-07-26T16:00:39.501241Z",
     "start_time": "2025-07-26T16:00:39.497657Z"
    }
   },
   "outputs": [
    {
     "data": {
      "text/plain": [
       "CausalData(df=(20000, 4), treatment='treatment')outcome='outcome', confounders=['age', 'platform_Android'], "
      ]
     },
     "execution_count": 4,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "causal_data"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 5,
   "id": "413617b680470383",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-07-26T16:00:39.624212Z",
     "start_time": "2025-07-26T16:00:39.620668Z"
    }
   },
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>age</th>\n",
       "      <th>platform_Android</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>20</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>44</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>44</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>31</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>39</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>19995</th>\n",
       "      <td>18</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>19996</th>\n",
       "      <td>27</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>19997</th>\n",
       "      <td>38</td>\n",
       "      <td>1</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>19998</th>\n",
       "      <td>45</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>19999</th>\n",
       "      <td>36</td>\n",
       "      <td>1</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>20000 rows × 2 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "       age  platform_Android\n",
       "0       20                 0\n",
       "1       44                 0\n",
       "2       44                 0\n",
       "3       31                 0\n",
       "4       39                 0\n",
       "...    ...               ...\n",
       "19995   18                 0\n",
       "19996   27                 0\n",
       "19997   38                 1\n",
       "19998   45                 0\n",
       "19999   36                 1\n",
       "\n",
       "[20000 rows x 2 columns]"
      ]
     },
     "execution_count": 5,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "causal_data.confounders"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 6,
   "id": "45a2bb8949de2b2b",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-07-26T16:00:39.789744Z",
     "start_time": "2025-07-26T16:00:39.787536Z"
    }
   },
   "outputs": [],
   "source": [
    "df_test = causal_data.get_df()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 7,
   "id": "3ba10387c83cfd46",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-07-26T16:00:40.387597Z",
     "start_time": "2025-07-26T16:00:40.364608Z"
    }
   },
   "outputs": [
    {
     "ename": "ValueError",
     "evalue": "Can only compare identically-labeled (both index and columns) DataFrame objects",
     "output_type": "error",
     "traceback": [
      "\u001B[31m---------------------------------------------------------------------------\u001B[39m",
      "\u001B[31mValueError\u001B[39m                                Traceback (most recent call last)",
      "\u001B[32m/var/folders/m0/gys_jqqj44n801p04bgv_ct00000gn/T/ipykernel_18107/2734448559.py\u001B[39m in \u001B[36m?\u001B[39m\u001B[34m()\u001B[39m\n\u001B[32m----> \u001B[39m\u001B[32m1\u001B[39m df == df_test\n",
      "\u001B[32m~/miniconda3/envs/causalkit/lib/python3.13/site-packages/pandas/core/ops/common.py\u001B[39m in \u001B[36m?\u001B[39m\u001B[34m(self, other)\u001B[39m\n\u001B[32m     72\u001B[39m                     \u001B[38;5;28;01mreturn\u001B[39;00m NotImplemented\n\u001B[32m     73\u001B[39m \n\u001B[32m     74\u001B[39m         other = item_from_zerodim(other)\n\u001B[32m     75\u001B[39m \n\u001B[32m---> \u001B[39m\u001B[32m76\u001B[39m         \u001B[38;5;28;01mreturn\u001B[39;00m method(self, other)\n",
      "\u001B[32m~/miniconda3/envs/causalkit/lib/python3.13/site-packages/pandas/core/arraylike.py\u001B[39m in \u001B[36m?\u001B[39m\u001B[34m(self, other)\u001B[39m\n\u001B[32m     38\u001B[39m     @unpack_zerodim_and_defer(\u001B[33m\"__eq__\"\u001B[39m)\n\u001B[32m     39\u001B[39m     \u001B[38;5;28;01mdef\u001B[39;00m __eq__(self, other):\n\u001B[32m---> \u001B[39m\u001B[32m40\u001B[39m         \u001B[38;5;28;01mreturn\u001B[39;00m self._cmp_method(other, operator.eq)\n",
      "\u001B[32m~/miniconda3/envs/causalkit/lib/python3.13/site-packages/pandas/core/frame.py\u001B[39m in \u001B[36m?\u001B[39m\u001B[34m(self, other, op)\u001B[39m\n\u001B[32m   7901\u001B[39m     \u001B[38;5;28;01mdef\u001B[39;00m _cmp_method(self, other, op):\n\u001B[32m   7902\u001B[39m         axis: Literal[\u001B[32m1\u001B[39m] = \u001B[32m1\u001B[39m  \u001B[38;5;66;03m# only relevant for Series other case\u001B[39;00m\n\u001B[32m   7903\u001B[39m \n\u001B[32m-> \u001B[39m\u001B[32m7904\u001B[39m         self, other = self._align_for_op(other, axis, flex=\u001B[38;5;28;01mFalse\u001B[39;00m, level=\u001B[38;5;28;01mNone\u001B[39;00m)\n\u001B[32m   7905\u001B[39m \n\u001B[32m   7906\u001B[39m         \u001B[38;5;66;03m# See GH#4537 for discussion of scalar op behavior\u001B[39;00m\n\u001B[32m   7907\u001B[39m         new_data = self._dispatch_frame_op(other, op, axis=axis)\n",
      "\u001B[32m~/miniconda3/envs/causalkit/lib/python3.13/site-packages/pandas/core/frame.py\u001B[39m in \u001B[36m?\u001B[39m\u001B[34m(self, other, axis, flex, level)\u001B[39m\n\u001B[32m   8199\u001B[39m                     left, right = left.align(\n\u001B[32m   8200\u001B[39m                         right, join=\u001B[33m\"outer\"\u001B[39m, level=level, copy=\u001B[38;5;28;01mFalse\u001B[39;00m\n\u001B[32m   8201\u001B[39m                     )\n\u001B[32m   8202\u001B[39m                 \u001B[38;5;28;01melse\u001B[39;00m:\n\u001B[32m-> \u001B[39m\u001B[32m8203\u001B[39m                     raise ValueError(\n\u001B[32m   8204\u001B[39m                         \u001B[33m\"Can only compare identically-labeled (both index and columns) \"\u001B[39m\n\u001B[32m   8205\u001B[39m                         \u001B[33m\"DataFrame objects\"\u001B[39m\n\u001B[32m   8206\u001B[39m                     )\n",
      "\u001B[31mValueError\u001B[39m: Can only compare identically-labeled (both index and columns) DataFrame objects"
     ]
    }
   ],
   "source": [
    "df == df_test"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 24,
   "id": "fb314d64d81f2a17",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-07-26T16:00:53.459541Z",
     "start_time": "2025-07-26T16:00:53.456735Z"
    }
   },
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Index(['user_id', 'treatment', 'target', 'age', 'cnt_trans',\n",
       "       'platform_Android', 'platform_iOS', 'invited_friend'],\n",
       "      dtype='object')"
      ]
     },
     "execution_count": 24,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.columns"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 25,
   "id": "5324f9e76a3cd3e3",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-07-26T16:01:03.169227Z",
     "start_time": "2025-07-26T16:01:03.166483Z"
    }
   },
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Index(['target', 'age', 'platform_Android', 'treatment'], dtype='object')"
      ]
     },
     "execution_count": 25,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df_test.columns"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 26,
   "id": "8112654b528aa59f",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-07-26T16:06:30.122316Z",
     "start_time": "2025-07-26T16:06:30.110998Z"
    }
   },
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>target</th>\n",
       "      <th>treatment</th>\n",
       "      <th>age</th>\n",
       "      <th>platform_Android</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>0</td>\n",
       "      <td>1</td>\n",
       "      <td>20</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>0</td>\n",
       "      <td>1</td>\n",
       "      <td>44</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>0</td>\n",
       "      <td>1</td>\n",
       "      <td>44</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>0</td>\n",
       "      <td>1</td>\n",
       "      <td>31</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>0</td>\n",
       "      <td>1</td>\n",
       "      <td>39</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>19995</th>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>18</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>19996</th>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>27</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>19997</th>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>38</td>\n",
       "      <td>1</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>19998</th>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>45</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>19999</th>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>36</td>\n",
       "      <td>1</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>20000 rows × 4 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "       target  treatment  age  platform_Android\n",
       "0           0          1   20                 0\n",
       "1           0          1   44                 0\n",
       "2           0          1   44                 0\n",
       "3           0          1   31                 0\n",
       "4           0          1   39                 0\n",
       "...       ...        ...  ...               ...\n",
       "19995       0          0   18                 0\n",
       "19996       0          0   27                 0\n",
       "19997       0          0   38                 1\n",
       "19998       0          0   45                 0\n",
       "19999       0          0   36                 1\n",
       "\n",
       "[20000 rows x 4 columns]"
      ]
     },
     "execution_count": 26,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "causal_data.df"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 27,
   "id": "f0db6fc259bb88d4",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-07-26T16:16:46.937298Z",
     "start_time": "2025-07-26T16:16:46.918092Z"
    }
   },
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>target</th>\n",
       "      <th>age</th>\n",
       "      <th>platform_Android</th>\n",
       "      <th>treatment</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>0</td>\n",
       "      <td>20</td>\n",
       "      <td>0</td>\n",
       "      <td>1</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>0</td>\n",
       "      <td>44</td>\n",
       "      <td>0</td>\n",
       "      <td>1</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>0</td>\n",
       "      <td>44</td>\n",
       "      <td>0</td>\n",
       "      <td>1</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>0</td>\n",
       "      <td>31</td>\n",
       "      <td>0</td>\n",
       "      <td>1</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>0</td>\n",
       "      <td>39</td>\n",
       "      <td>0</td>\n",
       "      <td>1</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>19995</th>\n",
       "      <td>0</td>\n",
       "      <td>18</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>19996</th>\n",
       "      <td>0</td>\n",
       "      <td>27</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>19997</th>\n",
       "      <td>0</td>\n",
       "      <td>38</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>19998</th>\n",
       "      <td>0</td>\n",
       "      <td>45</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>19999</th>\n",
       "      <td>0</td>\n",
       "      <td>36</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>20000 rows × 4 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "       target  age  platform_Android  treatment\n",
       "0           0   20                 0          1\n",
       "1           0   44                 0          1\n",
       "2           0   44                 0          1\n",
       "3           0   31                 0          1\n",
       "4           0   39                 0          1\n",
       "...       ...  ...               ...        ...\n",
       "19995       0   18                 0          0\n",
       "19996       0   27                 0          0\n",
       "19997       0   38                 1          0\n",
       "19998       0   45                 0          0\n",
       "19999       0   36                 1          0\n",
       "\n",
       "[20000 rows x 4 columns]"
      ]
     },
     "execution_count": 27,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "causal_data.get_df(include_target=True, include_treatment=True)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "98e1df5073a23fa0",
   "metadata": {},
   "outputs": [],
   "source": []
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.13.5"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}

In [2]:
df = generate_rct_data()

In [4]:
causal_data

CausalData(df=(20000, 4), treatment='treatment')outcome='outcome', cofounders=['age', 'platform_Android'],

In [6]:
df_test = causal_data.get_df()

In [24]:
df.columns

Index(['user_id', 'treatment', 'target', 'age', 'cnt_trans',
       'platform_Android', 'platform_iOS', 'invited_friend'],
      dtype='object')

In [26]:
causal_data.df

       target  treatment  age  platform_Android
0           0          1   20                 0
1           0          1   44                 0
2           0          1   44                 0
3           0          1   31                 0
4           0          1   39                 0
...       ...        ...  ...               ...
19995       0          0   18                 0
19996       0          0   27                 0
19997       0          0   38                 1
19998       0          0   45                 0
19999       0          0   36                 1

[20000 rows x 4 columns]