# Multi Unconfoundedness

In [1]:
from causalis.data_contracts import multicausaldata
from causalis.scenarios.multi_unconfoundedness.dgp import generate_multitreatment_gamma_26

In [6]:
df = generate_multitreatment_gamma_26(return_causal_data=False, include_oracle=True)

In [7]:
df.head()

,y,t_0,t_1,t_2,tenure_months,avg_sessions_week,spend_last_month,premium_user,urban_resident,support_tickets_q,...,m_obs_t_1,tau_link_t_1,m_t_2,m_obs_t_2,tau_link_t_2,g_t_0,g_t_1,g_t_2,cate_t_1,cate_t_2
0,0.422769,1.0,0.0,0.0,27.656605,3.198667,89.609464,0.0,1.0,0.0,...,0.246687,0.280746,0.220781,0.220781,0.522016,3.279384,4.342291,5.527144,1.062907,2.247760
1,7.566231,1.0,0.0,0.0,23.798386,3.362415,102.337236,0.0,0.0,3.0,...,0.179393,0.194231,0.236958,0.236958,0.376353,2.807850,3.409788,4.090928,0.601937,1.283078
2,1.738252,0.0,0.0,1.0,28.425009,3.391819,102.660712,0.0,1.0,1.0,...,0.210566,0.216058,0.218245,0.218245,0.523101,3.069919,3.810304,5.179728,0.740386,2.109809
3,1.827530,1.0,0.0,0.0,18.860066,4.071175,83.593417,0.0,0.0,2.0,...,0.176729,0.214676,0.237639,0.237639,0.422657,2.716805,3.367370,4.145875,0.650565,1.429070
4,2.685214,0.0,1.0,0.0,17.853087,3.140075,79.209870,0.0,1.0,1.0,...,0.232492,0.280066,0.247027,0.247027,0.513136,3.224354,4.266520,5.386356,1.042166,2.162002

In [10]:
print(f"Ground truth ATE for t_1 vs t_0 is {df['cate_t_1'].mean()}")
print(f"Ground truth ATE for t_2 vs t_0 is {df['cate_t_2'].mean()}")

Ground truth ATE for t_1 vs t_0 is 1.4161327855841777
Ground truth ATE for t_2 vs t_0 is 2.616828768318921