In [2]:
from causalis.scenarios.multi_uncofoundedness.dgp import generate_multitreatment_irm_26

In [5]:
df = generate_multitreatment_irm_26(return_causal_data=False, include_oracle = True)

In [6]:
df.head()

,y,t_0,t_1,t_2,tenure_months,avg_sessions_week,spend_last_month,premium_user,urban_resident,m_t_0,...,m_obs_t_1,tau_link_t_1,m_t_2,m_obs_t_2,tau_link_t_2,g_t_0,g_t_1,g_t_2,cate_t_1,cate_t_2
0,8.187885,0.0,0.0,1.0,27.656605,5.352554,13.490207,1.0,0.0,0.454071,...,0.275678,1.5,0.270251,0.270251,2.2,5.793656,7.293656,7.993656,1.5,2.2
1,10.443114,0.0,1.0,0.0,11.520191,6.798247,133.811334,0.0,1.0,0.463188,...,0.232951,1.5,0.303861,0.303861,2.2,6.971535,8.471535,9.171535,1.5,2.2
2,5.279322,0.0,0.0,1.0,33.005414,2.055459,56.946701,0.0,1.0,0.594286,...,0.206445,1.5,0.199270,0.199270,2.2,4.611388,6.111388,6.811388,1.5,2.2
3,4.540659,1.0,0.0,0.0,35.286777,4.429404,34.967755,0.0,1.0,0.543398,...,0.245938,1.5,0.210664,0.210664,2.2,5.235455,6.735455,7.435455,1.5,2.2
4,7.530050,0.0,1.0,0.0,0.587578,6.658307,47.875735,0.0,1.0,0.507310,...,0.155799,1.5,0.336891,0.336891,2.2,4.650216,6.150216,6.850216,1.5,2.2