In [10]:
import pandas as pd
import numpy as np
from causalis.data_contracts import MultiCausalData

In [11]:
n = 1000
df = pd.DataFrame({
    'user_id': np.arange(n),
    'x1': np.random.normal(size=n),
    'x2': np.random.normal(size=n),
    't1': np.random.binomial(1, 0.5, size=n),
    't2': np.random.binomial(1, 0.5, size=n),
})

# Outcome depends on treatments and confounders
df['y'] = 10 + 2 * df['t1'] - 3 * df['t2'] + 1.5 * df['x1'] + 0.5 * df['x2'] + np.random.normal(size=n)

In [14]:
df.head()

   user_id        x1        x2  t1  t2          y
0        0  0.329533  1.899673   1   0  15.022716
1        1 -0.393598 -0.905984   0   1   5.393389
2        2 -1.519506 -1.196708   1   0   7.450544
3        3  0.593599  0.965585   1   0  13.244710
4        4 -1.395265  0.968409   0   0   8.198693

In [12]:
mcd = MultiCausalData(
    df=df,
    outcome='y',
    treatments=['t1', 't2'],
    confounders=['x1', 'x2'],
    user_id='user_id'
)

In [13]:
mcd

MultiCausalData(df=     user_id          y        x1        x2  t1  t2
0          0  15.022716  0.329533  1.899673   1   0
1          1   5.393389 -0.393598 -0.905984   0   1
2          2   7.450544 -1.519506 -1.196708   1   0
3          3  13.244710  0.593599  0.965585   1   0
4          4   8.198693 -1.395265  0.968409   0   0
..       ...        ...       ...       ...  ..  ..
995      995  10.520261  0.067139  0.228348   0   0
996      996   7.888513 -0.399725 -0.149097   1   1
997      997   9.764297 -0.835026  0.730775   0   0
998      998  11.690357 -0.602435 -0.525958   1   0
999      999   9.104862  1.444279 -0.691310   0   1

[1000 rows x 6 columns], outcome_name='y', treatment_names=['t1', 't2'], confounders_names=['x1', 'x2'], user_id_name='user_id')